# Backend Environment Variables Template
# Copy this file to .env

# Flask Config
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=super-secret-key-change-me-in-production

# SQLAlchemy Database Config (Defaults to local sqlite in instance folder)
# SQLALCHEMY_DATABASE_URI=postgresql://user:pass@localhost/db
